# middleware for redux-flipper plugin
ENABLE_REDUX_FLIPPER=true

# middleware for redux-logger
ENABLE_REDUX_LOGGER=true

# middleware for immutable-state-invariant (disable if things are slow in development)
ENABLE_REDUX_IMMUTABLE_CHECK=true

# react-native-mmkv-flipper-plugin
ENABLE_MMKV_FLIPPER=false

# i18next debug mode
ENABLE_I18NEXT_DEBUGGER=true
