# middleware for redux-logger
ENABLE_REDUX_LOGGER=false

# middleware for immutable-state-invariant (disable if things are slow in development)
ENABLE_REDUX_IMMUTABLE_CHECK=false

# i18next debug mode
ENABLE_I18NEXT_DEBUGGER=false

# redux-persist migration debug mode
ENABLE_MIGRATION_DEBUG=false

# react-native-ldk JS logs
ENABLE_LDK_LOGS=false

# LDK backups
BACKUPS_SERVER_HOST=http://127.0.0.1:3003
BACKUPS_SERVER_PUBKEY=0319c4ff23820afec0c79ce3a42031d7fef1dff78b7bdd69b5560684f3e1827675

# Slashtags
WEB_RELAY=https://webrelay.slashtags.to

# Blocktank
BLOCKTANK_HOST=https://api.stag.blocktank.to

# Network
ELECTRUM_BITCOIN_HOST=35.187.18.233
ELECTRUM_BITCOIN_SSL_PORT=8900
ELECTRUM_BITCOIN_TCP_PORT=8911
ELECTRUM_BITCOIN_PROTO=tcp

ELECTRUM_REGTEST_HOST=127.0.0.1
ELECTRUM_REGTEST_SSL_PORT=60001
ELECTRUM_REGTEST_TCP_PORT=60001
ELECTRUM_REGTEST_PROTO=tcp

ELECTRUM_SIGNET_HOST=35.233.47.252
ELECTRUM_SIGNET_SSL_PORT=18484
ELECTRUM_SIGNET_TCP_PORT=18483
ELECTRUM_SIGNET_PROTO=tcp

TREASURE_HUNT_HOST=" "

# format: "<pubkey>, <pubkey>, ..."
TRUSTED_ZERO_CONF_PEERS="03b9a456fb45d5ac98c02040d39aec77fa3eeb41fd22cf40b862b393bcfc43473a"

WALLET_DEFAULT_SELECTED_NETWORK=bitcoinRegtest

E2E=true

CHATWOOT_API=https://synonym.to/api/chatwoot
