# middleware for redux-flipper plugin
ENABLE_REDUX_FLIPPER=true

# middleware for redux-logger
ENABLE_REDUX_LOGGER=true

# middleware for immutable-state-invariant (disable if things are slow in development)
ENABLE_REDUX_IMMUTABLE_CHECK=true

# react-native-mmkv-flipper-plugin
ENABLE_MMKV_FLIPPER=false

# i18next debug mode
ENABLE_I18NEXT_DEBUGGER=false

# redux-persist migration debug mode
ENABLE_MIGRATION_DEBUG=false

# Backup server (development)
BACKUPS_SHARED_SECRET=6dabb95493023d5c45229331490a9a67fcde2a618798f9dea5c1247eabb13451
BACKUPS_SERVER_SLASHTAG=slash:3phbmj4jkzs7b6e6t1h8jwy1u6o9w9y39nscsc6r1q89t1mxcsuy

# Slashtags
DISABLE_SLASHTAGS=false
SLASHTAGS_SEEDER_BASE_URL=https://blocktank.synonym.to
SLASHTAGS_SEEDER_TOPIC=3b9f8ccd062ca9fc0b7dd407b4cd287ca6e2d8b32f046d7958fa7bea4d78fd75

# Network
ELECTRUM_BITCOIN_HOST = 35.187.18.233
ELECTRUM_BITCOIN_SSL_PORT = 8912
ELECTRUM_BITCOIN_TCP_PORT = 8911
ELECTRUM_BITCOIN_PROTO = tcp

ELECTRUM_REGTEST_HOST = 35.233.47.252
ELECTRUM_REGTEST_SSL_PORT = 18484
ELECTRUM_REGTEST_TCP_PORT = 18483
ELECTRUM_REGTEST_PROTO = tcp

WALLET_DEFAULT_SELECTED_NETWORK = bitcoin

DISABLE_PERIODIC_REMINDERS=false
DISABLE_LOOP_ANIMATION=false
